@using WebApp.Views.Bookings.BookingModels
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded" />
@model BookingIndexViewModel
@{
    ViewData["Title"] = "Bookings";
}
@section Styles {
    <link rel="stylesheet" href="~/css/booking.css" asp-append-version="true" />
}
@section Scripts {
    <script src="~/js/bookingFilter.js" asp-append-version="true"></script>
}
<section class="dashboard-wrapper">
    <div class="top-stack">
        @await Html.PartialAsync("Partials/_TopLeft", Model)
        @await Html.PartialAsync("Partials/_TopRight")
    </div>
    @await Html.PartialAsync("Partials/_BottomSection", Model.Bookings)
</section>
