<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded" />

@{
    ViewData["Title"] = "Bookings";
}
@section Styles {
    <link rel="stylesheet" href="~/css/booking.css" asp-append-version="true" />
}
<section class="dashboard-wrapper">
    <div class="top-stack">
        @await Html.PartialAsync("Partials/_TopLeft")
        @await Html.PartialAsync("Partials/_TopRight")
    </div>
    @await Html.PartialAsync("Partials/_BottomSection")
</section>
