<div class="top-left">
    <div class="top-left-section">
        <div class="stats-row">
            <div class="stat-box">
                <div class="stat-top">
                    <div class="icon-circle">
                        <span class="material-symbols-rounded">confirmation_number</span>
                    </div>
                    <div class="menu-dots-vertical">
                        <span></span><span></span><span></span>
                    </div>
                </div>
                <div class="stat-bottom">
                    <div class="stat-info">
                        <p class="stat-label">Total Bookings</p>
                        <p class="stat-value">55,000</p>
                    </div>
                </div>
            </div>
            <div class="stat-box">
                <div class="stat-top">
                    <div class="icon-circle">
                        <span class="material-symbols-rounded">check_circle</span>
                    </div>
                    <div class="menu-dots-vertical">
                        <span></span><span></span><span></span>
                    </div>
                </div>
                <div class="stat-bottom">
                    <div class="stat-info">
                        <p class="stat-label">Total Tickets Sold</p>
                        <p class="stat-value">45,000</p>
                    </div>
                </div>
            </div>
            <div class="stat-box">
                <div class="stat-top">
                    <div class="icon-circle">
                        <span class="material-symbols-rounded">paid</span>
                    </div>
                    <div class="menu-dots-vertical">
                        <span></span><span></span><span></span>
                    </div>
                </div>
                <div class="stat-bottom">
                    <div class="stat-info">
                        <p class="stat-label">Total Earnings</p>
                        <p class="stat-value">$275,000</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="top-left-section fixed">
        <div class="info-section">
            <div class="info-box fill-height"></div>
            <div class="info-box fixed-height"></div>
        </div>
    </div>
</div>