@using WebApp.Views.Invoices.InvoiceModels
@model List<ShowInvoiceViewModel>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded" />
@{
    ViewData["Title"] = "Invoices";
}
@section Styles {
    <link rel="stylesheet" href="~/css/InvoiceStyling/Invoice.css" asp-append-version="true" />
}


<div class="invoice-list">
    @foreach (var invoice in Model)
    {
        <div class="invoice-item">
            <span class="invoice-title">#@invoice.InvoiceTitel</span>
            <a class="invoice-status" asp-controller="Invoice"
               asp-action="UpdateInvoice"
               asp-route-id="@invoice.Id">
                @invoice.Status.IsPaid
            </a>
        </div>
    }
</div>