@model SignInViewModel

@{
    ViewData["Title"] = "Sign in";
}

<div class="form-wrapper">
    <h1>@ViewData["Title"]</h1>

    <form method="post" asp-controller="Auth" asp-action="SignIn" novalidate>
        <input type="hidden" name="returnUrl" value="@ViewBag?.ReturnUrl" />

        <div class="form-input-wrapper">
            <label asp-for="FormData.Email"></label>
            <input asp-for="FormData.Email" />
            <span asp-validation-for="FormData.Email"></span>
        </div>

        <div class="form-input-wrapper">
            <label asp-for="FormData.Password"></label>
            <input asp-for="FormData.Password" value="@Model.FormData.Password" />
            <span asp-validation-for="FormData.Password"></span>
        </div>

        @if (!string.IsNullOrEmpty(ViewBag?.ErrorMessage))
        {
            <p class="error-message">@ViewBag?.ErrorMessage</p>
        }

        <input type="submit" class="btn btn-primary" value="Sign in" />

        <p>Don't have an account? <a asp-controller="Auth" asp-action="SignUp">Sign up</a></p>
    </form>


    

    <form method="post" asp-controller="Auth" asp-action="ExternalSignIn" novalidate class="external-signin-form">
        <input type="hidden" name="returnUrl" value="@ViewBag?.ReturnUrl" />

        <button class="btn btn-secondary" type="submit" name="provider" value="GitHub">Sign in with GitHub</button>
    </form>
</div>