@model SignUpViewModel

@{
    ViewData["Title"] = "Sign up";
}

<div class="form-wrapper">
    <h1>@ViewData["Title"]</h1>

    <form method="post" asp-controller="Auth" asp-action="SignUp" novalidate>
        <div class="form-input-wrapper">
            <label asp-for="FormData.FirstName"></label>
            <input asp-for="FormData.FirstName" />
            <span asp-validation-for="FormData.FirstName"></span>
        </div>

        <div class="form-input-wrapper">
            <label asp-for="FormData.LastName"></label>
            <input asp-for="FormData.LastName" />
            <span asp-validation-for="FormData.LastName"></span>
        </div>

        <div class="form-input-wrapper">
            <label asp-for="FormData.Email"></label>
            <input asp-for="FormData.Email" />
            <span asp-validation-for="FormData.Email"></span>
        </div>

        <div class="form-input-wrapper">
            <label asp-for="FormData.Password"></label>
            <input asp-for="FormData.Password" value="@Model.FormData.Password" />
            <span asp-validation-for="FormData.Password"></span>
        </div>

        <div class="form-input-wrapper">
            <label asp-for="FormData.ConfirmPassword"></label>
            <input asp-for="FormData.ConfirmPassword" value="@Model.FormData.ConfirmPassword" />
            <span asp-validation-for="FormData.ConfirmPassword"></span>
        </div>


        @if (!string.IsNullOrEmpty(ViewBag?.ErrorMessage))
        {
            <p class="error-message">@ViewBag?.ErrorMessage</p>
        }

        <input type="submit" class="btn btn-primary" value="Sign up" />


        @if (Model.AccountCreated)
        {
            <p class="success">
                <span class="material-symbols-rounded">
                    check_circle
                </span>
                Account created! 
                <a asp-controller="Auth" asp-action="SignIn">Sign in</a>
            </p>
        } else
        {
            <p>Already have an account? <a asp-controller="Auth" asp-action="SignIn">Sign in</a></p>
        }
    </form>
</div>