@model SignUpPasswordViewModel

@{
    ViewData["Title"] = "Set password";
}

<div class="form-wrapper">
    <h1>@ViewData["Title"]</h1>

    <form method="post" asp-controller="Auth" asp-action="HandleSignUpPassword" novalidate>
        <input type="hidden" asp-for="Email" value="@Model.Email" />

        <div class="form-input-wrapper">
            <label asp-for="Password"></label>
            <input asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>

        <div class="form-input-wrapper">
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" />
            <span asp-validation-for="ConfirmPassword"></span>
        </div>


        @if (!string.IsNullOrEmpty(ViewBag?.ErrorMessage))
        {
            <p class="error-message">@ViewBag?.ErrorMessage</p>
        }

        <input type="submit" class="btn btn-primary" value="Sign up" />

        <p>Go back to <a asp-controller="Auth" asp-action="SignUpEmail">Sign up</a></p>
    </form>
</div>
