<div class="event-schedule">
    <div class="section-header">
        <h3>Event Schedule</h3>
        <span class="material-symbols-rounded">more_horiz</span>
    </div>

    <ul class="schedule-list">
        <li>
            <span class="time">10:00 AM - 11:00 AM</span>
            <span class="activity">Gate Opens</span>
        </li>
        <li>
            <span class="time">11:00 AM - 12:00 PM</span>
            <span class="activity">Pre-Show Activities</span>
        </li>
        <li>
            <span class="time">12:00 PM - 12:30 PM</span>
            <span class="activity">Opening Ceremony</span>
        </li>
        <li>
            <span class="time">12:30 PM</span>
            <span class="activity">Concert Begin</span>
        </li>
    </ul>
</div>