<div class="prohibited-items">
    <div class="section-header">
        <h3>Prohibited Items</h3>
        <span class="material-symbols-rounded">more_horiz</span>
    </div>

    <div class="items-grid">
        <div class="item">
            <img src="~/images/Knife.svg" alt="Weapons" />
            <p>Weapons and Dangerous Items</p>
        </div>
        <div class="item">
            <img src="~/images/Pill.svg" alt="Illegal Substances" />
            <p>Illegal Substances</p>
        </div>
        <div class="item">
            <img src="~/images/Alcohol.svg" alt="Alcohol" />
            <p>Alcohol and Beverages</p>
        </div>
        <div class="item">
            <img src="~/images/Camea.svg" alt="Recording Equipment" />
            <p>Recording Equipment</p>
        </div>
        <div class="item">
            <img src="~/images/Hazard.svg" alt="Recording Equipment" />
            <p>Large or Hazardous Items</p>
        </div>
        <div class="item">
            <img src="~/images/Speaker.svg" alt="Recording Equipment" />
            <p>Noise Makers and Disruptive Items</p>
        </div>
        <div class="item">
            <img src="~/images/T-shirt.svg" alt="Recording Equipment" />
            <p>Unathorized Merchandise</p>
        </div>
        <div class="item">
            <img src="~/images/Paw pet.svg" alt="Recording Equipment" />
            <p>Pets and Animals</p>
        </div>
        <div class="item">
            <img src="~/images/bicycle.svg" alt="Recording Equipment" />
            <p>Bicycles, Skateboards, or Hoverboards</p>
        </div>
        <div class="item">
            <img src="~/images/Umbrella.svg" alt="Recording Equipment" />
            <p>Umbrellas or Large Parasols</p>
        </div>
        <div class="item">
            <img src="~/images/Tent.svg" alt="Recording Equipment" />
            <p>Camping Gear</p>
        </div>
    </div>
</div>