<div class="prohibited-items">
    <div class="section-header">
        <h3>Prohibited Items</h3>
        <span class="material-symbols-rounded">more_horiz</span>
    </div>

    <div class="items-grid">
        <div class="item">
            <img src="~/images/icons/weapons.svg" alt="Weapons" />
            <p>Weapons and Dangerous Items</p>
        </div>
        <div class="item">
            <img src="~/images/icons/drugs.svg" alt="Illegal Substances" />
            <p>Illegal Substances</p>
        </div>
        <div class="item">
            <img src="~/images/icons/alcohol.svg" alt="Alcohol" />
            <p>Alcohol and Beverages</p>
        </div>
        <div class="item">
            <img src="~/images/icons/recording.svg" alt="Recording Equipment" />
            <p>Recording Equipment</p>
        </div>
        <div class="item">
            <img src="~/images/icons/loud.svg" alt="Noise Makers" />
            <p>Noise Makers</p>
        </div>
        <div class="item">
            <img src="~/images/icons/skateboard.svg" alt="Bicycles" />
            <p>Bicycles, Skateboards, Hoverboards</p>
        </div>
        <div class="item">
            <img src="~/images/icons/umbrella.svg" alt="Umbrellas" />
            <p>Umbrellas or Large Parasols</p>
        </div>
        <div class="item">
            <img src="~/images/icons/cooler.svg" alt="Coolers" />
            <p>Coolers or Picnic Baskets</p>
        </div>
    </div>
</div>