<div class="venue-map">
    <div class="section-header">
        <h3>Venue Map</h3>
        <span class="material-symbols-rounded">more_horiz</span>
    </div>

    <div class="map-image">
        <img src="~/images/VenueMap.png "Venue Map" />
    </div>

    <div class="legend">
        <h4>Legend</h4>
        <ul class="legend-list">
            <li><span class="dot parking"></span> Parking Area</li>
            <li><span class="dot security"></span> Security Checkpoints</li>
            <li><span class="dot general"></span> General Admission Area</li>
            <li><span class="dot info"></span> Information Booth</li>
            <li><span class="dot restroom"></span> Restrooms</li>
            <li><span class="dot merch"></span> Merchandise Booths</li>
            <li><span class="dot art"></span> Art Installations Zone</li>
            <li><span class="dot food"></span> Food & Beverage Area</li>
            <li><span class="dot kids"></span> Kids Zone</li>
            <li><span class="dot vip"></span> VIP Lounge</li>
            <li><span class="dot aid"></span> First Aid Station</li>
            <li><span class="dot mainstage"></span> Main Stage</li>
        </ul>
    </div>
</div>